/* Stylesheet structure
  - Root styles
  - Utility classes
  - Document level styles
  - Element level styles


*/

/* Root styles */
:root {
  --bg-pale-navy: #36384D;
  --dark-navy: #242742;
  --grey-25: rgba(25, 24, 43, 0.25);
  --grey-50: rgba(25, 24, 43, 0.5);
  --alert-orange: #FF6155;
  --alert-bg-orange: rgba(255, 97, 85, 0.15);
  --white: #fff;
  --btn-gradient: linear-gradient(225deg, #FF6A3A 0%, #FF527B 100%);
}
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/* For testing */
body {
  position: relative;
}
#mobile-overlay {
  width: 375px;
  height: 842px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.45;
  z-index: 100;
  display: none;
}
#desktop-overlay {
  width: 1440px;
  height: 1080px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.45;
  z-index: 100;
  display: none;
}
/* End testing */

/* Document level styles */
body {
  background-color: var(--bg-pale-navy);
  color: var(--dark-navy);
}
h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
}
p,
label,
button {
  font-size: 1rem;
  line-height: 1.5rem;
}
:focus-visible {
  outline: none;
}
.grid-wrapper {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

/* Utility classes */
.body-small {
  font-weight: 700;
  font-size: 0.75rem;
}
.body-bold {
  font-weight: 700;
}
.outer-padding > * {
  padding: 1.5rem;
}
.margin-block {
  margin-block: 1rem;
}
.relative {
  position: relative;
}

.btn-primary {
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  background-color: var(--dark-navy);
  font-weight: 700;
  padding-block: 1rem;
}
.btn-primary:hover {
  background: var(--btn-gradient);
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.50);
}

/* Element level styles */
main {
  background-color: var(--white);
  display: grid;
}
#desktop-hero-img {
  display: none;
}
#info-wrapper {
  margin-bottom: 2.5rem;
}
#info-wrapper > * {
  margin-bottom: 1.5rem;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
  padding-left: 2.31rem;
  margin-bottom: 0.625rem;
}
li::before {
  content: url('../images/icon-list.svg');
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 0;
}
#email-capture > * {
  width: 100%;
  /* margin-bottom: 0.6em; */
}
.label-wrapper {
  display: flex;
  margin-bottom: 0.05rem;
}
#email-error {
  background-color: inherit;
  border: none;
  margin-left: auto;
}
#email-capture > *:last-child {
  margin-top: 1.5em;
}
.email {
  border: 1px solid var(--grey-25);
  border-radius: 0.5rem;
  padding-left: 1.5rem;
  padding-block: 1rem;
}
.email::placeholder {
  color: var(--dark-navy);
  opacity: 0.5;
}


/* Media queries */
@media (min-width: 977px) {
  .grid-wrapper {
    max-width: 58rem;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  #hero-image-wrapper {
    order: 2;
  }
  #primary-content {
    order: 1;
    margin-block: auto;
    padding-right: 0;
  }
  #mobile-hero-img {
    display: none;
  }
  #desktop-hero-img {
    display: block;
    min-width: 25rem;
  }
  .inner-padding > * {
    padding-left: 4rem;
  }
  .response {
    max-width: 31.5rem;
  }
}
@media (min-width: 550px) and (max-width: 976px) {
  .grid-wrapper {
    max-width: 550px;
  }
  #hero-image-wrapper {
    padding: 0;
  }
  #hero-image-wrapper > img {
    width: 100%;
  }
}

@media (min-width: 550px) {
  .grid-wrapper {
    margin: auto;
    border-radius: 2.25rem;
    overflow:hidden;
  }
}

@media (max-width: 550px) {
  #hero-image-wrapper {
    padding: 0;
  }
  #hero-image-wrapper > img {
    width: 100%;
  }
}

.error {
  color: var(--alert-orange);
  background-color: var(--alert-bg-orange);
  border: 1px solid var(--alert-orange);
}
.response-grid {
  grid-template-columns: 1fr;
}
.response-grid > #hero-image-wrapper {
  order: 1;
}
.response-grid > #primary-content {
  order: 2;
}
.hidden {
  display: none;
}